/* .Container{
  border: solid;
} */
.depatureWrapper {
  background-color: #cbffca;
  color: #092c4c;
  margin: 41px -50px 41px -50px;
  padding: 20px 0px 10px 50px;
  text-align: left;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 5px 0px #0000001a;
}

.searchBarWrapper {
  margin-top: 121px;
}
.titleDepature {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  /* 4 */

  color: #092c4c;
}
.depatureWrapper p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* 4 */

  color: #092c4c;
}
.filterContainer {
  display: flex;
  /* border: solid; */
  margin: 25px auto;
  /* justify-content: space-between; */
  gap: 24px;
  margin-inline: -50px;

  padding: 0px 0px 100px;
}
.filterTitle {
  font-size: 18px;
  text-align: center;
  color: #092c4c;
  font-family: "Montserrat", sans-serif;
}
.filterWrapper {
  background-color: rgb(255, 255, 255);
  /* border: 1px solid #0000002a; */
  box-shadow: 0px 0px 5px 0px #0000001a;

  border-radius: 5px;
  width: 246px;
  /* position: relative; */
  /* margin: 25px auto; */
  padding: 20px 0px 20px 0px;
  text-align: left;
}

.titleSide {
  color: #ffff;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 80%;
  align-items: center;
  margin: 25px;
}
.titleWrap {
  background-color: #0f5996;
}
.titleSide p {
  align-items: center;
  /* border: solid black; */
  padding-top: 15px;
}
.schaduleWrap {
  width: 80%;
  margin: 10px auto;
  color: #092c4c;
}
.DescContainer {
  /* border: solid; */
  width: 950px;
}
.btnArrow {
  text-align: center;
}
.btnSort {
  /* width: 150px;
  height: 60; */
  padding : 14px 32px 14px 32px;
  border-radius: 40px;
  font-size: 16px;
  border: none;
  color: #ffff;
  background-color: #0f5996;
  float: right;
  /* margin-top: 10px; */

  /* color: #ffff; */
}

.DescWrapper {
 
  box-shadow: 0px 0px 5px 0px #0000001a;
  margin-top: 80px;
  text-align: left;
  display: flex;
  padding: 30px;
  gap: 20px;
  justify-content: space-between;
  /* align-items: center; */
}
.shuttlesWrapper{
  
}
.shuttleText{
  color: #092c4c;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}
.timeText{
  margin-top: -10px;
  color: #092c4c;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}
.dateText{
  margin-top: -25px;
  color: #092c4c;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}
.titleDescription {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  /* 4 */

  color: #092c4c;
}
.descClass {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* 3 */

  color: #abb3bb;
}
.descPrice {
  color: #0f5996;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  display: flex;
  /* margin-top: 20px; */
  /* margin-bottom: -10px; */
}
.seats{
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
 
}
.availableSeatTxt{
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  color: #0f5996;
  font-weight: 400;
  font-size: 14px;
  float: right;
}
.btnBook {
  /* width: 190px;
  height: 41px; */
  padding: 12px 44px 12px 44px;
  background-color: #0f5996;
  border:none;
  color: #ffff;
  border-radius: 8px;
  margin-top: -10px;
}
.dropdownctn {
  display: block;
  position: absolute;
  background-color: #ffffff;
  min-width: 320px;
  color: #092c4c;
  box-shadow: 0px 0px 5px 0px #0000001a;
  top: 82%;
  right: 17%;
  z-index: 8;
  border-radius: 8px;
}
.dropdownNone {
  display: none;
}
.titleDropdown {
  font-size: 19px;
  width: 320px;
  padding: 15px 19px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 17px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}
.radioButtonsGroup {
  padding: 15px 19px;
}

.btnDropdown {
  width: 294px;
  height: 42px;
  border-radius: 8px;
  background-color: #0f5996;
  color: #ffffff;
  border: none;
}
.PrivateSwitchBase-input{
  border-radius: 1px;
}
